@mixin shadow($elevation) {
    @if $elevation == 3 {
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.03), 0 0 10px 0 rgba(0, 0, 0, 0.03);
    } @else if $elevation == 8 {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 14px 3px rgba(0, 0, 0, 0.05), 0 8px 10px 1px rgba(0, 0, 0, 0.05);
    } @else if $elevation == 16 {
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05), 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 0.05);
    } @else if $elevation == 99 {
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05), 0 6px 30px 5px rgba(0, 0, 0, 0.05), 0 16px 24px 2px rgba(0, 0, 0, 0.05);
    } @else if $elevation == 0 {
      box-shadow: 0 0px 0px;
    }
}