//- *********************************************** -//
//- ***************** CONFIG SITE ***************** -//
//- *********************************************** -//

-
    // Suffix Title
    suffixSiteTitle = "| Title";
    suffixSiteDescription = "| Site Description";
    suffixSiteKeywords = "m5, m5 standardization, m5 aleph, aleph labs indonesia, zero to hero";

    // Site Domain
    siteDomain = "m5.io";

    // Site URL
    siteURL = "http://m5.io";

    // Site Theme
    siteTheme = "#000000";

    // Author
    author = "m5 aleph labs indonesia";
    copyright = "2019 m5 aleph labs indonesia. All Right Reserved";

    // SEO Frienldy
    seoFriendly = true;
    cannonical = "http://m5.io";

    // OG Facebook
    ogFacebook = {
        enable: true,
        url: "https://www.facebook.com/m5",
        type: "article",
        section: "product",
        published_time: "2019-04-26 17:35:30T+07:00",
        modified_time: "2019-04-26 17:35:30T+07:00",
        expiration_time: "2019-04-26 17:35:30T+07:00",
        image: "assets/images/default/og-facebook.jpg",
        imageType: "image/jpeg"
    };

    // Twitter Card
    twitterCard = {
        enable: true,
        twitterId: "@m5_aleph_indonesia",
        sizeCard: "summary_large_image",
        image: "assets/images/default/twitter-card.jpg"
    };

    // Manifest
    manifest = "assets/js/data/manifest.json";

    // Icons
    icons = {

        // Web Favicon
        webFavicon: "assets/images/homescreen/favicon.ico",

        // Add to Home Screen
        homescreen: {

            // Android
            android: {
                s16: "assets/images/homescreen/favicon-16x16.png",
                s32: "assets/images/homescreen/favicon-32x32.png",
                s96: "assets/images/homescreen/favicon-96x96.png",
                s144: "assets/images/homescreen/favicon-144x144.png",
                s192: "assets/images/homescreen/favicon-192x192.png"
            },

            // Microsoft
            microsoft: {
                s144: "assets/images/homescreen/ms-icon-144x144.png"
            },

            // iOS
            iOS: {
                default: "assets/images/homescreen/apple-icon.png",
                s57: "assets/images/homescreen/apple-icon-57x57.png",
                s60: "assets/images/homescreen/apple-icon-60x60.png",
                s72: "assets/images/homescreen/apple-icon-72x72.png",
                s76: "assets/images/homescreen/apple-icon-76x76.png",
                s114: "assets/images/homescreen/apple-icon-114x114.png",
                s120: "assets/images/homescreen/apple-icon-120x120.png",
                s144: "assets/images/homescreen/apple-icon-144x144.png",
                s152: "assets/images/homescreen/apple-icon-152x152.png",
                s180: "assets/images/homescreen/apple-icon-180x180.png"
            }
        }
    };